<section
  class="w-full bg-gradient-to-r from-gray-800 to-black text-white py-16 px-6"
>
  <h2 class="text-3xl md:text-5xl font-pattaya mb-8 text-center">
    ¿Nos acompañas en este día tan especial?
  </h2>

  <div class="max-w-3xl w-full mx-auto">
    <!-- Confirmación de Asistencia -->
    <div class="flex flex-col items-center">
      <p class="text-lg">¡Nos gustaría saber si podrás acompañarnos!</p>
    </div>

    <!-- Enlace para confirmar en WhatsApp -->
    <div class="flex justify-center mt-8">
      <a
        id="whatsapp-link"
        href="#"
        class="px-6 py-3 bg-white hover:bg-gray-600 hover:text-white text-xl font-semibold text-black rounded-full transition"
        target="_blank"
      >
        Confirmar asistencia por WhatsApp
      </a>
    </div>
  </div>
</section>

<script>
  const whatsappLink = document.getElementById("whatsapp-link");
  const yesButton = document.getElementById("yes");
  const noButton = document.getElementById("no");

  yesButton.addEventListener("change", () => {
    if (yesButton.checked) {
      whatsappLink.href =
        "https://wa.me/1234567890?text=¡Hola!%20Confirmo%20mi%20asistencia%20a%20la%20boda%20de%20X%20y%20Y";
    }
  });

  noButton.addEventListener("change", () => {
    if (noButton.checked) {
      whatsappLink.href =
        "https://wa.me/1234567890?text=¡Hola!%20Lamentablemente%20no%20podré%20asistir%20a%20la%20boda%20de%20X%20y%20Y";
    }
  });
</script>
