---
const { title, pareja, mensaje, imagen, novio, novia } = Astro.props;
import "@fontsource/pattaya";
import "@fontsource/yesteryear";
import ScrollIcon from "../assets/ScrollIcon.astro";
---

<section class="w-screen h-dvh flex justify-center items-center relative">
  <!-- Contenedor principal -->
  <div class="relative w-full h-full mx-auto overflow-hidden">
    <!-- Imagen con efecto suave -->
    <img
      src="/eugenia.jpg"
      alt="Foto de la pareja"
      class="w-full h-full object-cover transform scale-100"
      data-aos="zoom-in"
      data-aos-duration="1500"
      data-aos-easing="ease-out-quad"
    />

    <!-- Overlay para legibilidad -->
    <div class="absolute inset-0 bg-gradient-to-t from-black/40 to-transparent">
    </div>

    <!-- Texto con animación unificada -->
    <div
      class="absolute bottom-10 left-1/2 transform -translate-x-1/2 w-full px-4 text-center"
    >
      <div data-aos="fade-up" data-aos-delay="500" data-aos-duration="800">
        <h1
          class="text-white text-7xl md:text-8xl font-gloock mb-2 tracking-wide"
        >
          {novio}
        </h1>
        <div
          class="text-3xl md:text-6xl text-rose-100 font-playfair italic my-2"
        >
          &amp;
        </div>
        <h1
          class="text-white text-7xl md:text-8xl font-gloock mt-2 tracking-wide"
        >
          {novia}
        </h1>
        <h1
          class="text-white text-3xl md:text-4xl font-gloock mt-2 tracking-wide"
        >
          NOS CASAMOS
        </h1>
        <h1 class="text-white text-4xl animate-bounce mt-2">↓</h1>
      </div>
    </div>
  </div>
</section>
