---
import CrownIcon from "../assets/crownIcon.astro";
---

<section class="bg-rose-200">
  <div class="w-full h-full flex justify-center items-center">
    <div class="flex flex-col items-center">
      <CrownIcon
        class="size-44 text-yellow-500 -mb-12"
        data-aos="fade-down"
        data-aos-duration="1000"
      />

      <div
        class="text-7xl text-center font-pattaya mb-8"
        data-aos="fade-up"
        data-aos-delay="400"
        data-aos-duration="1000"
      >
        Samyra Sarellana
      </div>
    </div>
  </div>
</section>
