---
import ElegantIcon1 from "../assets/ElegantIcon1.astro";
const { colorPrimario, quote } = Astro.props;
---

<section
  class={`w-full px-6 py-16 flex flex-col justify-center items-center bg-${colorPrimario}   mt-6 mb-6`}
  data-aos="zoom-in"
  data-aos-duration="800"
  data-aos-once="true"
>
  <blockquote
    class="text-2xl sm:text-3xl md:text-4xl text-center font-serif text-white max-w-3xl mb-10"
  >
    {quote}
  </blockquote>

  <div class="w-full">
    <ElegantIcon1 class="w-full max-h-12 mx-auto fill-white" />
  </div>
</section>
