---
import "@fontsource/pattaya";
import "@fontsource/yesteryear";
import Princess from "../../../assets/Princess.png";
import Toy1 from "../../../assets/toy1.astro";
import Toy2 from "../../../assets/toy2.astro";
import ScrollIcon from "../../../assets/ScrollIcon.astro";
const { colorPrimario, quinceanera, imagenes } = Astro.props;
---

<section
  class="w-screen h-dvh flex justify-center items-center relative bg-black bg-cover bg-center"
>
  <!-- Contenedor principal -->
  <div class="relative w-full h-full mx-auto overflow-hidden">
    <!-- Imagen con efecto suave -->
    <img
      src="/portada.jpg"
      alt="Foto de la pareja"
      class="max-w-[592px] mx-auto h-full object-cover transform scale-100"
      data-aos="zoom-in"
      data-aos-duration="1500"
      data-aos-easing="ease-out-quad"
    />

    <!-- Overlay para legibilidad -->

    <!-- Texto con animación unificada -->
  </div>
  <div class="absolute top-4 left-4">
    <button
      id="playBtn"
      class="w-12 h-12 rounded-full bg-black hover:bg-white text-rose-600 text-xl shadow-md flex items-center justify-center backdrop-blur-md transition"
      title="Reproducir canción"
    >
      🎵
    </button>
  </div>
  <!-- Elemento de audio oculto -->
  <audio id="bgMusic">
    <source src="/cancionejemplo.mp3" type="audio/mpeg" />
  </audio>
</section>

<script>
  document.getElementById("playBtn").addEventListener("click", function () {
    const audio = document.getElementById("bgMusic");
    audio.play();
  });
</script>
