---
import AmazonIcon from "../../../assets/amazonIcon.astro";
import Ornamento3 from "../../../assets/Ornamento3.astro";
---

<section class="relative py-20 px-6 overflow-hidden">
  <div class="max-w-3xl mx-auto text-center">
    <h2 class="text-4xl md:text-5xl font-pattaya" data-aos="fade-up">
      Mi lista de regalos
    </h2>
    <Ornamento3 class="fill-amber-500 w-1/2 mx-auto mb-8" />

    <div class="flex flex-col items-center space-y-8">
      <!-- Texto descriptivo -->
      <div class="max-w-xl" data-aos="fade-up" data-aos-delay="200">
        <p class="text-lg leading-relaxed font-elegant">
          Tu presencia es el mejor regalo, pero si deseas hacerme un obsequio,
          lo tomare con mucho cariño
        </p>
      </div>

      <!-- Tarjeta de wishlist -->
      <!-- <div class="w-full max-w-md" data-aos="fade-up" data-aos-delay="400">
        <div class="">
          <div class="flex justify-center">
            <a
              href="TU_ENLACE_DE_WISHLIST_AQUI"
              target="_blank"
              class="inline-flex items-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-amber-500 hover:bg-black transition-colors duration-300"
            >
              <AmazonIcon class="size-9 fill-white mr-3" />
              Ver Wishlist
            </a>
          </div>
        </div>
      </div> -->

      <p
        class="mt-6 text-gray-500 italic text-center font-elegant"
        data-aos="fade-up"
        data-aos-delay="600"
      >
        Tu regalo será recibido con mucho amor ❤️
      </p>
    </div>
  </div>
</section>
