---
import Ornamento3 from "../../../assets/Ornamento3.astro";
---

<section class="max-w-2xl mx-auto">
  <h1 class="font-gloock text-center text-5xl" data-aos="fade-down">
    Los detalles
  </h1>
  <Ornamento3 class="fill-rose-300 w-1/2 mx-auto" />
</section>
