<section class="mt-4 max-w-xl mx-auto">
  <div>
    <img
      src="/valeria.jpeg"
      alt="Flores decorativas"
      class="w-full object-cover mask-radial-at-center mask-radial-from-50% mask-radial-to-70%"
    />
  </div>
</section>
